<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :episode_number %><br>
    <%= f.number_field :episode_number, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :guest %><br>
    <%= f.text_field :guest, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :embed_link %><br>
    <%= f.text_field :embed_link, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.text_field :picture, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :display %><br>
    <%= f.check_box :display, autofocus: true, class: "form-control" %> <!-- Try to make the checkbox bigger -->
  </div>

  <div class="actions">
    <%= f.submit class: 'btn br-lblue'%>
  </div>
<% end %>
