<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions" keydn="true">

  

	<head>
		<!-- Title here -->
		<title>NY Tech Podcast</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
		<!--[if IE ]><%= stylesheet_link_tag "settings-ie8", media: "all", "data-turbolinks-track" => true %><![endif]-->
		<!--[if IE ]><%= stylesheet_link_tag "ie-style", media: "all", "data-turbolinks-track" => true %><![endif]-->
		 <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 

		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	<style type="text/css"></style>
	</head>
		

	<body style="">
		<div class="wrapper white">
		  <!-- Want to drop the <head> from Home page here, but it's not working? -->
			<%= render 'layouts/header' %>
			<div class="container">
				<% flash.each do |name, msg| %>
					<%= content_tag(:div, msg, class: "alert alert-info") %>
				<% end %>
				<%= yield %>
			</div>

			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
